
p {
  font-family: 'Open Sans', sans-serif;
  margin: 10px 0 10px;
}

.lead_link {
  margin: 0 5px 0 5px;
}

.lead {
  text-align: center;
  margin-bottom: 0;
}

.centered {
  text-align: center;
}

.image_title {
  text-align: center;
}

img.figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  text-align: center;
}

h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 0px;
  position: relative;
}

/* vertically center audio players */
.row audio {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

[class*="col-"] {
  padding-top: 17px;
  padding-bottom: 17px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
  height: 64px;
  text-align: center;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

